name: Variable Usecase Workflow

on:
  workflow_dispatch:
    inputs:
      variable_1:
        description: 'Accepting input value during manual trigger'
        required: true
        type: string
        default: devops_var

      target_env:
        description: 'Select environment for deployment'
        required: true
        type: choice
        options:
          - qa
          - staging
          - production
        default: qa

  schedule:
    - cron: '1 * * * *'

  push:
    branches:
      - master
      - develop

env:
  name: Sujay
  servername: Default

jobs:
  job1_printing_variable_name:
    runs-on: ubuntu-latest

    env:
      os: Linux

    steps:
      - name: Print variables to summary
        run: |
          echo "My name is $name" >> $GITHUB_STEP_SUMMARY
          echo "OS: $os" >> $GITHUB_STEP_SUMMARY
          echo "Repository: ${{ github.repository }}" >> $GITHUB_STEP_SUMMARY
          echo "Workflow: ${{ github.workflow }}" >> $GITHUB_STEP_SUMMARY
          echo "Triggered by: ${{ github.event_name }}" >> $GITHUB_STEP_SUMMARY
          echo "Input variable_1: ${{ github.event.inputs.variable_1 }}" >> $GITHUB_STEP_SUMMARY
          echo "Target Environment: ${{ github.event.inputs.target_env }}" >> $GITHUB_STEP_SUMMARY

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Decide server based on trigger type
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            echo "servername=DR_1" >> $GITHUB_ENV
          elif [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "servername=Pre_Prod" >> $GITHUB_ENV
          elif [ "${{ github.event_name }}" = "schedule" ]; then
            echo "servername=Prod" >> $GITHUB_ENV
          else
            echo "servername=$servername" >> $GITHUB_ENV
          fi

      - name: Use server name
        run: |
          echo "Targeting server: $servername"
